$c-brand: #6a5eff;
$c-action: #ff004c;
$c-dark: #333;
$c-body: #636383;
$c-light: #facd00;
$transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
$shadow: 0px 15px 40px rgba(0, 0, 0, 0.1);
$font-size-base: 12px;
